body{background:#ddd;color:#fff;}
p,pre{margin:0;}
body,pre{font-family: Courier, "Courier New", monospace;}
.module{width:95%;margin:10px auto 0;padding:10px;overflow:hidden}
.code{background:#272822;height:300px;}
.console{background:#aaa;height:100px;padding-top:5px;padding-bottom:5px;}
.console p{color:blue;line-height:1.2em;border-bottom:1px solid gray;margin-left:1em;}
#nextStep{background:#2d89ef;color:#fff;padding:8px 30px;font-size:18px;}
#outputTip{color:red;font-size:18px;font-weight:bold;display:none;}
#nextStep:hover{cursor:pointer;color:#000;box-shadow:1px 1px 1px #000;}
#codeTip>span{display:block;width:2px;height:1em;background:#fff;}
#consoleTip{color:#333;font-size:22px;}
#preCodes{display:none;}
.disabled{background:gray !important;color:black !important;}
.hidden{visibility:hidden}